.playCircle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--primary);
}

.playIcon {
  cursor: pointer;
}

.moveCircleUp {
  transform: translateY(-100%);
  transition: transform 1s;
}

.expandCircle {
  transform: translateY(-100%) scale(130%);
  transition: transform 1.6s;
}

.decreaseCircle {
  transform: translateY(-100%) scale(100%);
  transition: transform 1.6s;
}

.moveCircleDown {
  transform: translateY(0);
  transition: transform 1s;
}
