:root {
  --halfBreathingTime: 1.6s;
  --delayBeforeTimerStart: 1s;
}

.playCircle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--primary);
}

.playIcon {
  cursor: pointer;
}

.moveCircleUp {
  transform: translateY(-40%);
  transition: transform var(--delayBeforeTimerStart);
}

.expandCircle {
  transform: translateY(-40%) scale(130%);
  transition: transform var(--halfBreathingTime);
}

.decreaseCircle {
  transform: translateY(-40%) scale(100%);
  transition: transform var(--halfBreathingTime);
}

.moveCircleDown {
  transform: translateY(0);
  transition: transform var(--delayBeforeTimerStart);
}
