.infoScreen {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  position: relative;
}

.infoIcon {
  width: 1.5rem;
  aspect-ratio: 1/1;
  background-color: var(--secondary-translucent);
  color: var(--primary);
  box-shadow: var(--box-shadow);
}

.infoArea {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: start;
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.infoAreaOutOfView {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.infoAreaComeIntoView {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.infoDetails {
  width: calc(100vw - 8rem);
  background-color: var(--primary-translucent);
  color: var(--secondary);
  /* background-color: var(--secondary-translucent);
  color: var(--primary); */
  padding: 0 2rem;
}
