.infoArea {
  font-size: 0.7rem;
}

.infoArea p {
  margin: 0.5rem 0;
}

.steps {
  display: grid;
  grid-template-columns: 1rem auto;
  grid-row-gap: 0.5rem;
  margin-left: 0.5rem;
  font-weight: 500;
}
