.breathingExerciseCounter {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  width: 100%;
  gap: 1.5rem;
}

.indicator {
  width: 5%;
  aspect-ratio: 1/1;
  border: 1px solid var(--primary);
}

.filledIndicator {
  background-color: var(--primary);
}
