.setting {
  background-color: var(--secondary-translucent);
  padding: 0.2rem 0.5rem;
  box-shadow: var(--box-shadow);
}

.title {
  font-size: large;
  font-weight: 600;
  color: var(--primary);
  font-variant: small-caps;
}
