.screenTitle {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.screenTitleBar {
  display: flex;
  flex-direction: row;
  column-gap: 0.3rem;
  background-color: var(--secondary-translucent);
  box-shadow: var(--box-shadow);
  color: var(--primary);
  padding: 0.7rem;
}

.screenTitleBarText {
  margin: 0;
  font-variant: small-caps;
  font-size: large;
}

.icon {
  font-size: medium;
  cursor: pointer;
}
