.screenTitle {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.screenTitle h1 {
  background-color: var(--secondary-translucent);
  box-shadow: var(--box-shadow);
  color: var(--primary);
  font-variant: small-caps;
  font-size: large;
  justify-self: end;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0.7rem 1rem;
}
