.screenTitle {
  display: flex;
  flex-direction: row;
  justify-content: end;
  opacity: 0.8;
}

.screenTitle h1 {
  background-color: var(--secondary);
  box-shadow: -2px 2px 5px var(--primary);
  color: var(--primary);
  font-variant: small-caps;
  font-size: large;
  justify-self: end;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0.7rem 1rem;
}
